
<table id="example" class="stripe nowrap" style="width: 100%;">
    <thead class="bg-green-300">
        <tr>
            <!-- <th data-field="state" data-checkbox="true"></th> -->
            <th >No</th>
            <th >No Definitif</th>
            <th >Action</th>
            <th >Bulan-Tahun</th>
            <th >Kode Klasifikasi</th>
            <th >Isi</th>
        </tr>
    </thead>
    <tbody>
        <% list.forEach((element,index) => { %>
            <tr class="bg-green-100">
                <td><%= index + 1%> </td>
                <td><%=   element.No_Definitif %></td>
                <td>
                    <div class="text-sm text-gray-900 grid place-items-center">
                        <a href="/data/<%= element._id %> " class="w-7 h-7 bg-green-100 rounded-full grid place-items-center border border-green-900">
                            <svg class="h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                            </svg>
                        </a>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                        </svg> -->
                    </div>
                </td>
                <td><%= element.Properties.Bulan %> - <%= element.Properties.Tahun %>  </td>
                <td><%= element._id %> </td>
                <td><%= element.Isi_Berkas %> </td>
            </tr>
        <% }); %> 
    </tbody>
    <tfoot>
        <tr >
            <!-- <th data-field="state" data-checkbox="true"></th> -->
            <th></th>
            <th></th>
            <th class="input-bulan" >Bulan-Tahun</th>
            <th class="input-kode">Kode</th>
            <th class="input-file">File</th>
        </tr>
    </tfoot>
</table>