<%- include('./components/_head') %>
<%- include('./components/_modal') %>

<!-- ! NAVBAR -->
<%- include('./components/_navbar') %>
<%- include('./components/_container') %>

<!-- ! Content -->
<% if(alert.message != "") { %>
    <div class="alert-toast t_alert-position" >
        <input type="checkbox" class="hidden" id="footertoast">
        <label class="close t_alert-container  <%= alert.status == "success" ? 'bg-green-200' : 'bg-red-200' %> " title="close" for="footertoast" style="min-height: 5rem;">
            <svg class="t_alert-close" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
            <div class="t_alert-message">
                <%= alert.message %>
            </div>
        </label>
    </div>
<% } %>
<br>
<br>
<div class="flex flex-col justify-evenly items-center h-2/3 ">
    <div class="relative border-2 border-green-300 rounded-full overflow-hidden w-32 h-32">
        <img src="/img/profile/user.png" class="absolute w-32 shadow-xl rounded-full" alt="">
    </div>
    <h1 class="text-lg font-bold text-green-800"><%= admin ? "Admin" : "Member" %></h1>

    <div class="" style="min-width : 25vw;" >
        <form action="" method="POST" class="flex flex-col gap-5">
            <div class="w-full flex justify-between">
                <label for="name" class="t_label">Nama</label>
                <input type="text" id="name" name="name" class="w-2/3 t_form bg-green-50 " value="<%= userDetail.name %>">
            </div>
            <div class="w-full flex justify-between">
                <label for="email" class="t_label">E-mail</label>
                <input type="email" id="email" name="email" class="w-2/3 t_form bg-green-50 "  value="<%= userDetail.email %>">
            </div>
            <div class="w-full flex justify-between">
                <label for="password" class="t_label">Password</label>
                <input type="password" id="password" name="password" class="w-2/3 t_form bg-green-50 " placeholder="Password baru" >
            </div>
            <input type="submit" value="Simpan" class="t_primary-btn mt-3">
        </form>
    </div>
    
</div>



<!-- ! Footer -->
<%- include('./components/_footer') %>